# Third-party Python dependencies
#
# Some dependencies are listed here, some are git submodules, some are installed by SCons/setup.sh
# Check SConstruct for details.

# For tests
pytest
pytest-asyncio
pytest-cpp
pytest-mock
pytest-randomly
pytest-repeat
pytest-subtests
pytest-timeout
pytest-xdist @ git+https://github.com/sshane/pytest-xdist@2b4372bd62699fb412c4fe2f95bf9f01bd2018da

# Used for geodetic distance calculations in TripDataCollector
geopy
jsonschema