sounddevice
pyserial
requests
sympy
crcmod
tqdm
smbus2
cffi
scons
pycapnp==2.1.0
Cython
setuptools
numpy>=2.0
scipy
aiohttp
aiortc
pyopenssl<24.3.0
pyaudio
kaitaistruct
libusb1
spidev; platform_system=="Linux"
onnx>=1.14.0
pyzmq
sentry-sdk
xattr
PyJWT
json-rpc
websocket_client
casadi>=3.6.6
future-fstrings
inputs
psutil
pycryptodome
setproctitle
zstandard
raylib<5.5.0.3
qrcode
mapbox-earcut